[Desktop Entry]
Encoding=UTF-8
Name=Parcellite
Comment=Clipboard Manager
Icon=gtk-paste
Exec=parcellite
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
